<p><%= @restaurant.name %></p>
<p><%= @restaurant.description %></p>
<p><h2>Reviews</h2></p>
  <ul>
    <% @restaurant.reviews.each do |review|%>
    <li>
      <%= review.thoughts %>:
      <%= review.rating %>
    </li>
    <% end %>
  </ul>
